.git
node_modules
vendor
storage
bootstrap/cache
tests
docs
*.md
*.ipynb
__pycache__/
*.pyc
*.pyo
*.pyd
.env*
*.csv
*.sql
trained_models/
model_checkpoints/
.github
logs/*
ml_models/data/*.csv
ml_models/results/*
notebooks/
.pytest_cache/
.DS_Store
